<!DOCTYPE html>
<html>
  <head>
    <title>ReminderApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
  <p> <a href="/users/<%= current_user.id %>">
    <%= current_user.first_name %>'s Reminders</a>
    <%= link_to "Logout", session_path(current_user), method: :delete %>
  </p>
    <% else %>
    <%= link_to "Register", new_user_path %>
    <% end %>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    <%= yield %>
  </body>
</html>
